<template>
    <div>
        <h1>TODO-Liste</h1>
        <ShoppingList v-for="list in shoppingList" v-bind:list="list" v-bind:key="list.id"
                      v-on:update-entry="updateEntry" v-on:add-entry="addEntry" v-on:delete-entry="deleteEntry"
                      v-on:update-title="updateTitle" v-on:delete-list="deleteList" />

        <input type="button" class="btn btn-secondary mt-3" value="Neue Liste" v-on:click="addList" />
    </div>
</template>

<script>
    import ShoppingList from '@/components/ShoppingList.vue'

    export default {
        name: 'Todo',
        data: function () {
            return {
                shoppingList: [
                    {
                        id: 1,
                        name: 'Liste 1',
                        items: [
                            {
                                id: 1,
                                name: 'Nudeln',
                                shopId: 1,
                                amount: 2,
                                bought: false
                            },
                            {
                                id: 2,
                                name: 'Ketchup',
                                shopId: 1,
                                amount: 1,
                                bought: true
                            }
                        ]
                    },
                    {
                        id: 2,
                        name: 'Liste 2',
                        items: []
                    }
                ]
            }
        },
        components: {
            ShoppingList
        },
        methods: {
            updateEntry: function (data) {
                console.log('update entry', data);
                let item = this.shoppingList.find(l => l.id === data.listId).items.find(i => i.id === data.id);
                switch (data.property) {
                    case 'name':
                        item.name = data.value;
                        break;
                    case 'bought':
                        item.bought = data.value;
                        break;
                    case 'amount':
                        item.amount = parseInt(data.value);
                        break;
                }
            },
            addEntry: function (data) {
                console.log('add entry', data);
                let items = this.shoppingList.find(l => l.id === data).items;
                items.push({ id: this.getNextId(items), name: 'Neuer Eintrag', shopId: 1, amount: 1, bought: false });
            },
            deleteEntry: function (data) {
                console.log('delete entry', data);
                let items = this.shoppingList.find(l => l.id === data.listId).items;
                let index = items.indexOf(items.filter(i => i.id === data.id)[0]);
                items.splice(index, 1);
            },
            updateTitle: function (data) {
                console.log('update title', data);
                this.shoppingList.find(l => l.id === data.listId).name = data.value;
            },
            addList: function () {
                console.log('add list');
                let newId = Math.max(...this.shoppingList.map(o => o.id)) + 1;
                this.shoppingList.push({ id: newId, name: 'Neue Liste', items: [] });
            },
            deleteList: function (data) {
                console.log('delete list', data);
                let index = this.shoppingList.indexOf(this.shoppingList.find(l => l.id === data));
                this.shoppingList.splice(index, 1);
            },
            getNextId: function (list) {
                let maxId = 0;
                for (var i = 0; i < list.length; i++) {
                    if (list[i].id > maxId) maxId = list[i].id;
                }
                return maxId + 1;
            }
        }
    }
</script>