<template>
    <div class="row form-inline mb-1">
        <input v-if="checked !== null" type="checkbox" v-model="checked" class="col-1" />
        <InputField v-bind:value="name" v-on:change-input="handleNameChange" class="col-9 col-lg-5" />
        <input type="number" v-bind:value="amount" v-on:change="handleAmountChange" min="0" size="3" class="form-control col-2 col-lg-1" />
        <input type="button" v-on:click="handleDelete" value="X" class="btn btn-danger" />
        <br />
    </div>
</template>

<script>
    import InputField from './InputField.vue'

    export default {
        name: 'ListItem',
        props: {
            name: String,
            id: Number,
            bought: Boolean,
            amount: Number
        },
        components: {
            InputField
        },
        computed: {
            checked: {
                get: function () {
                    return this.bought;
                },
                set: function (newValue) {
                    this.$emit('change-input', { value: newValue, property: 'bought', id: this.id });
                }
            }
            //text: {
            //    get: function () {
            //        return this.name;
            //    },
            //    set: function (newValue) {
            //        this.$emit('change-input', { value: newValue, property: 'name', id: this.id });
            //    }
            //}
        },
        methods: {
            handleNameChange: function (data) {
                this.$emit('change-input', { value: data, property: 'name', id: this.id });
            },
            handleAmountChange: function (data) {
                this.$emit('change-input', { value: data.target.value, property: 'amount', id: this.id });
            },
            handleDelete: function () {
                this.$emit('delete-item', { id: this.id });
            }
        }
    }
</script>