<template>
    <div class="card mt-3"> 
        <div class="card-body">
            <h5 class="card-title">
                <InputField v-bind:value="list.name" v-bind:id="0"
                v-on:change-input="changeTitle" />
                <input type="button" class="btn btn-danger ml-1" value="X" v-on:click="$emit('delete-list', list.id)" />
            </h5>
            <ListItem v-for="entry in list.items" 
                        v-bind="entry" v-bind:key="entry.id" v-bind:check="entry.bought"
                        v-on:change-input="changeEntry" v-on:delete-item="deleteEntry" />

            <input type="button" class="btn btn-primary mt-1" value="Neuer Eintrag" v-on:click="$emit('add-entry', list.id)" />
        </div>
    </div>
</template>

<script>
    import InputField from '@/components/InputField.vue'
    import ListItem from '@/components/ListItem.vue'

    export default {
        name: 'ShoppingList',
        props: ['list'],
        components: {
            InputField,
            ListItem
        },
        methods: {
            changeEntry: function (data) {
                console.log('change input', { ...data, listId: this.list.id });
                this.$emit('update-entry', { ...data, listId: this.list.id });
            },
            changeTitle: function (data) {
                console.log(data);
                this.$emit('update-title', { value: data, listId: this.list.id });
            },
            deleteEntry: function (data) {
                console.log(data);
                this.$emit('delete-entry', { ...data, listId: this.list.id });
            }
        }
    }
</script>

<style>
    h3 {
        margin-top: 30px;
    }
</style>