<template>
    <div>
        <h4>Listen</h4>
        <ShoppingList v-for="list in lists" v-bind:list="list" v-bind:key="list.id"
                      v-on:update-entry="updateEntry"/>
    </div>
</template>

<script>
    import ShoppingList from '@/components/ShoppingList.vue'

    export default {
        name: 'ShoppingLists',
        props: ['lists'],
        components: {
            ShoppingList
        },
        created: function () {
            console.log(this.lists);
        },
        methods: {
            updateEntry: function (data) {
                console.log('ShoppingLists.updateEntry', data);
            }
        }
    }
</script>